body {
    color: lightskyblue;
    font-family: 'Simonetta', cursive;
    font-size: 35px;
    background-image: url("../images/dark-grey-terrazzo.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
}

#rotaryLogo {
    width: 100%;
}
.sidecolumn {
    background-color: black;
}
#gameName {
    font-family: 'Spectral SC', serif;
    font-size: 75px;
    color: hsla(345, 92%, 56%, 1);
}

footer {
    background-color: black;
    padding: 10px;
}
#answerComment {
    color: brown;
}

#submitAnswers {
    font-size: 20px;
}